@import "tailwindcss";

@theme {
  --color-lightGray: #efefef;
  --color-secondaryBlue: #225777;
  --color-primaryBlue: #173054;
  --color-mediumBlue: #76a7e2;
  --color-greenishBlue: #6ad2ea;
  --color-pinkCTA: #d34f84;
  --color-purplePrimary: #390265;
  --color-purpleSecondary: #6127aa;
  --color-bgGray: #f2f2f2;
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
}

html {
  scroll-behavior: smooth;
}
